<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project Two Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Barriecito|Montserrat&display=swap" rel="stylesheet">
</head>
 
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Popular Baby Names</h1>
        <p>Amber, John, Marie, Kenny and Marc</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="gender-buttons">
          <button type="button" id="girls" class="btn btn-primary btn-lg btn-block btn-active">Girls</button>
          <button type="button" id="boys" class="btn btn-primary btn-lg btn-block">Boys</button>
        </div>
      </div>
    <div class="col-md-10">
      <div id="bubble">
        <svg width="946" height="946"></svg>
      </div>
    </div>
  </div>

  <script src="https://d3js.org/d3.v4.min.js"></script>
	<script type="text/javascript" src="../static/js/app.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
